@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./assets/image1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* background-color: #000000b2; */
  background-position: center;
  color: white;
}

a.active {
  border-bottom: 1px solid #808080;
}

.page-frame{
  @apply w-full p-5
}

.flex-center {
  @apply flex justify-center items-center
}

.btn {
  @apply w-full sm:w-44 p-2 mt-4 text-lg
}

.btn-border{
  @apply border
}

.btn-hover {
  @apply hover:bg-white hover:text-black;
}

.side-text {
  @apply text-3xl p-2
}

.social-card {
  @apply w-20 h-20 flex justify-center items-center rounded-lg border p-2 m-2 cursor-pointer sm:backdrop-blur-md hover:bg-white hover:text-black
}